body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  padding-top: 50px;
  /* Ajustez pour le header fixe */
  overflow: hidden;
  /* Masque les barres de défilement */
  height: 100vh;
}

.scroll-container {
  overflow: auto;
  height: 100vh; /* ou un calcul qui tient compte du header et du footer */
}


.scroll-container::-webkit-scrollbar {
  display: none;
  /* Pour les navigateurs basés sur Webkit */
}

.header {
  position: fixed;
  /* Fixe la barre du haut */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  color: #fff;
  z-index: 1000;
  /* Assure que la barre reste au-dessus des autres éléments */
}

.header .balance {
  font-weight: bold;
  margin-right: 20px;
  color: #000;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.category-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Cache les éléments qui dépassent */
}

.category {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.category::before,
.category::after {
  content: '';
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  pointer-events: none;
  z-index: 1;
}

.category::before {
  left: 0;
}

.category::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
}

.bonus-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin: 0 15px;
  flex-shrink: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bonus-item img {
  width: 50px;
  /* Ajuster la taille des images pour qu'elles s'adaptent bien */
  height: auto;
  border-radius: 8px;
}

.bonus-item h2 {
  font-size: 16px;
  /* Ajuster la taille du texte */
  margin: 5px 0;
  color: #333;
  overflow: hidden;
  /* Empêcher le texte de déborder */
  text-overflow: ellipsis;
  /* Ajouter des points de suspension si le texte est trop long */
}

.bonus-item p {
  font-size: 14px;
  /* Ajuster la taille du texte */
  color: #555;
  margin: 2px 0;
  overflow: hidden;
  /* Empêcher le texte de déborder */
  text-overflow: ellipsis;
  /* Ajouter des points de suspension si le texte est trop long */
}

.bonus-item button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  /* Ajuster la taille du texte du bouton */
  padding: 5px 10px;
}

.bonus-item button:hover {
  background-color: #ff4700;
}

.error-message {
  color: red;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: #f0f0f0;
  /* Couleur de fond */
  position: fixed;
  /* Fixe la barre au bas de l'Ã©cran */
  bottom: 0;
  left: 0;
  width: 100%;
  /* Prend toute la largeur */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre optionnelle */
  z-index: 1000;
  /* Toujours au-dessus des autres Ã©lÃ©ments */
}

.footer-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-icon img {
  width: 50px;
  height: 50px;
}

.footer-icon:hover {
  opacity: 0.8;
}

.boutique-icon img {
  border: 2px solid #ff4500;
  /* Bordure colorée autour de l'icône */
  border-radius: 50%;
  /* Bordure arrondie */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Ombre autour de l'icône */
}

.boutique-icon:hover img {
  opacity: 1;
  /* Assure que l'icône reste visible au survol */
}

/* Styles pour le mode sombre */
.search-bar {
  width: 200px;
  /* Ajustez la largeur selon vos besoins */
  margin-bottom: 5px;
  /* Espace entre la barre de recherche et les résultats */
  margin-right: 30px;
}

.search-results {
  position: absolute;
  /* Positionnement absolu par rapport à .header */
  top: 100%;
  /* Positionner juste en dessous de la barre de recherche */
  left: 0;
  /* Aligné à gauche */
  color: black;
  background: white;
  /* Couleur de fond */
  border: 1px solid #ccc;
  /* Bordure */
  border-radius: 4px;
  /* Coins arrondis */
  max-height: 100px;
  /* Hauteur maximale */
  overflow-y: auto;
  /* Barre de défilement si trop d'éléments */
  z-index: 1000;
  /* Pour s'assurer qu'il est au-dessus des autres éléments */
  width: 100%;
  /* Largeur égale à celle de la barre de recherche */
}

.search-results div {
  padding: 1px;
  cursor: pointer;
}

.search-results div:hover {
  background-color: #f0f0f0;
  /* Changement de couleur au survol */
}

.quantity-select {
  margin: 10px 0;
  padding: 5px;
  color: #ff4500;
  border: 0.1px solid #ccc;
  border-radius: 5px;
  width: 90px;
  /* Largeur fixe pour le sélecteur */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  .quantity-select {
    background-color: #1e1e1e;
    color: white;
  }

  .search-results {
    background-color: black;
    color: white;
    border: black;
  }

  .search-results div:hover {
    background-color: #444;
    /* Changement de couleur au survol */
  }

  .header {
    background-color: #1c1c1c;
    color: #e0e0e0;
  }

  .header .balance {
    color: #fff;
  }

  .category {
    background-color: #1e1e1e;
  }

  .bonus-item {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .bonus-item h2 {
    color: #e0e0e0;
  }

  .bonus-item p {
    color: #b0b0b0;
  }

  .bonus-item button {
    background-color: #0056b3;
    color: #fff;
  }

  .bonus-item button:hover {
    background-color: #003d7a;
  }

  .error-message {
    color: #ff4d4d;
  }

  .category::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  }

  .category::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
  }

  .footer {
    background-color: #333333;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
  }

  .boutique-icon img {
    border: 2px solid #2C3E50;
  }

  .footer-icon img {
    filter: brightness(0.8);
  }

  .scroll-container::-webkit-scrollbar {
    width: 12px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #333;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #555;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}