body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: url('background2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  /* Empêche le défilement du body */
}

.content {
  overflow-y: auto;
  /* Permet le défilement vertical */
  height: 100vh;
  /* Occupe toute la hauteur de la fenêtre */
  padding-top: 80px;
  /* Espace pour le titre et le filtre fixés en haut */
  -webkit-overflow-scrolling: touch;
  /* Assure le défilement fluide sur les appareils tactiles */
}

h2 {
  font-size: 24px;
  /* Réduit la taille du titre */
  margin: 0;
  /* Supprime la marge autour du titre */
  text-shadow: 1px 1px 2px #000000;
  /* Réduit l'ombre du texte */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  /* Fond semi-transparent */
  padding: 10px 0;
  z-index: 1000;
  /* Assure que le titre est au-dessus des autres éléments */
}

.sort-menu {
  margin: 0 auto;
  width: 60%;
  /* Ajuste la largeur du filtre */
  max-width: 300px;
  /* Définit une largeur maximale pour le filtre */
  text-align: center;
  /* Centre le filtre */
  position: fixed;
  top: 35px;
  /* Positionne le filtre juste en dessous du titre */
  margin-bottom: 20px;
  /* Ajoute un espace entre le titre et le filtre */
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  /* Fond semi-transparent pour le filtre */
  padding: 10px 0;
  z-index: 1000;
  /* Assure que le filtre est au-dessus des autres éléments */
}

.sort-menu select {
  padding: 5px 15px;
  /* Réduit le padding pour un aspect plus compact */
  font-size: 14px;
  /* Réduit la taille de la police */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.character-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  width: 150px;
  height: 50px;
  line-height: 30px;
  position: relative;
}

.character-button:hover {
  background-color: #e03e00;
  transform: scale(1.05);
}

.character-button.disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.character-button.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.unlock-message {
  color: #ff4500;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.unlock-message.show {
  display: block;
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stats {
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  background-color: rgb(153, 153, 153, 0.7);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

.stats.show {
  opacity: 1;
  max-height: 250px;
  /* Ajuster en fonction du contenu */
}

.choose-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

.choose-button:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}

.boutons {
  margin-bottom: 100px;
  margin-top: 20px;
}

/* Styles pour le mode sombre */
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #e0e0e0;
  }

  .content {
    background: #000;
    /* Assure un fond sombre pour le contenu */
  }

  h2 {
    color: #e0e0e0;
    text-shadow: 1px 1px 2px #000000;
    background-color: #000;
    /* Réduit l'ombre du texte en mode sombre */
  }
  .sort-menu {
    background-color: #000;
  }

  .character-button {
    background-color: #2C3E50;
    color: #e0e0e0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }

  .character-button:hover {
    background-color: #555;
  }

  .character-button.disabled {
    background-color: #666;
  }

  .unlock-message {
    color: #ffb74d;
    /* Orange atténué pour les messages de déblocage */
  }

  .choose-button {
    background-color: #333;
    color: #e0e0e0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }

  .choose-button:hover {
    background-color: #444;
  }

  .stats {
    background-color: rgba(33, 33, 33, 0.9);
    color: #e0e0e0;
    border: 1px solid #555;
  }

  .stats::-webkit-scrollbar {
    width: 12px;
  }

  .stats::-webkit-scrollbar-track {
    background: #1c1c1c;
  }

  .stats::-webkit-scrollbar-thumb {
    background: #555;
  }

  .stats::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}

/* Masquer les barres de défilement pour tous les thèmes */
.content::-webkit-scrollbar {
  display: none;
}

.content {
  scrollbar-width: none;
  /* Pour Firefox */
  -ms-overflow-style: none;
  /* Pour Internet Explorer et Edge */
}