body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;

}



.content {


  flex: 1;
  /* Permet à .content de prendre tout l'espace restant */
  padding: 20px;
  margin-bottom: 60px;
  /* Ajout d'une marge inférieure pour éviter que le contenu ne soit caché par le footer */

}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.hidden {
  display: none;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
  /* Espace ajusté entre le titre et la barre de recherche */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.data-container {
  max-width: 800px;
  margin: 100px auto;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  animation: bounceIn 1.2s ease-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.character {
  position: relative;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #f0f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.character:hover {
  transform: translateY(-5px);
  background-color: #e6f7ff;
}

.character-info {
  display: none;
  font-size: 16px;
  color: #555;
  padding-top: 10px;
}

.level-up-indicator {
  position: absolute;
  left: -15px;
  top: 10px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.level-up-button,
.boost-button {
  display: block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.level-up-button:hover,
.boost-button:hover {
  background-color: #ff5000;
  transform: scale(1.05);
}

.cost-info {
  font-size: 14px;
  color: #888;
}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: #f0f0f0;
  /* Couleur de fond */
  position: fixed;
  /* Fixe la barre au bas de l'Ã©cran */
  bottom: 0;
  left: 0;
  width: 100%;
  /* Prend toute la largeur */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre optionnelle */
  z-index: 1000;
  /* Toujours au-dessus des autres Ã©lÃ©ments */
}

.footer-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-icon img {
  width: 50px;
  height: 50px;
}

.footer-icon:hover {
  opacity: 0.8;
}


.amelioration-icon img {
  border: 2px solid #ff4500;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-menu-icon:hover img {
  opacity: 1;
}

/* Gestion du format paysage */
@media only screen and (orientation: landscape) {
  body {
    flex-direction: column;
  }

  .title {
    font-size: 24px;
  }

  .data-container {
    max-width: 70%;
    /* Adapte la largeur pour le paysage */
    margin: 20px auto;
  }

  .footer {
    flex-direction: row;
    /* Changer la direction des éléments du footer */
    padding: 1px;
    /* Ajuster le padding */
  }
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.dialog-message {
  margin-bottom: 15px;
  font-size: 16px;
}

.dialog-dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dialog-button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.dialog-button:hover {
  background-color: #ff4700;
}

.dialog-button:focus {
  outline: none;
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 1000;
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #333333;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
  }

  .footer-icon img {
    filter: brightness(0.8);
  }

  .dialog-dropdown {
    background-color: #333;
    color: #fff;
  }

  .dialog-container {
    background-color: #333;
    color: #fff;
  }

  .dialog-button {
    background-color: #000;
  }

  .dialog-button:hover {
    background-color: #333;
  }

  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  .character:hover {
    background-color: #333;
  }

  .title {
    color: #e0e0e0;
  }

  .data-container {
    background-color: #333;
    color: #e0e0e0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  .character {
    background-color: #333;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .character-info {
    color: #e0e0e0;
  }

  .level-up-indicator {
    background-color: #ff5722;
  }

  .level-up-button,
  .boost-button {
    background-color: #444;
    color: #fff;
  }

  .level-up-button:hover,
  .boost-button:hover {
    background-color: #555;
  }

  .cost-info {
    color: #bbb;
  }

}

.show-more {
  background: none;
  border: none;
  color: #ff4500;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.show-more:hover {
  color: #ff4500;
}

/* Styles pour les navigateurs Webkit */
.content::-webkit-scrollbar {
  display: none;
}

.content {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.points-bubble {
  position: fixed;
  top: 75px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.dialog-enter {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.dialog-exit {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}


/* Styles pour les boutons "+" et "-" */
.stat-button {
  background-color: #ff4500;
  color: white;

  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.stat-button:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}

.stat-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.stat-button:active {
  transform: scale(0.95);
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  .stat-button {
    background-color: #3a3a3a;
    color: #e0e0e0;
  }

  .stat-button:hover {
    background-color: #555555;
  }

  .stat-button:disabled {
    background-color: #666666;
    color: #999999;
  }
}

/* Bouton "Confirmer" spécifique */
button.stat-button.confirm-button {
  font-weight: bold;
  padding: 8px 15px;
}

/* Couleurs identiques pour les modes clair et sombre */
button.stat-button.confirm-button:hover {
  background-color: #ff4500; /* Couleur un peu plus marquée au survol */
}

@media (prefers-color-scheme: dark) {
  button.stat-button.confirm-button {
    background-color: #444; /* Gris foncé */
    color: #e0e0e0;
  }

  button.stat-button.confirm-button:hover {
    background-color: #666; /* Gris plus clair au survol */
  }
}